<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Songs</title>
  </head>
  <body>
    <h1>Songs</h1>


    <p>
      <%= @song.artist.name %> - <%=@song.name%> - <%= @song.genre.name %>
       </p>
    


  </body>
</html>